@using BarberShop.Application.Models;
@model List<AppointmentViewModel>

<a class="btn btn-primary mb-2" asp-area="" asp-controller="Home" asp-action="Index">Novo Agendamento</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Dia</th>
            <th scope="col">Horario</th>
            <th scope="col">Cancelado</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{
            @foreach (AppointmentViewModel appointment in Model)
            {
                <tr>
                    <td>@appointment.DayText</td>
                    <td>@appointment.Hour : @appointment.Minute</td>
                    <td>
                        @{
                            if (appointment.Available)
                            {
                                <span class="text-success" id="txt_@appointment.Code">Não</span>
                            }
                            else
                            {
                                <span class="text-danger" id="txt_@appointment.Code">Sim</span>
                            }
                        }
                    </td>
                    <td>
                        @{
                            if (appointment.Available)
                            {
                                <button type="button" onclick="Cancel('@appointment.Code')" class="btn btn-danger btn-sm" id="btn_@appointment.Code">Cancelar</button>
                            }
                            else
                            {
                                <button type="button" onclick="Cancel('@appointment.Code')" class="btn btn-secondary btn-sm" id="btn_@appointment.Code" disabled>Cancelar</button>
                            }
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>



@section Scripts
{
    <script src="~/js/profile/profile.myappointments.v1.0.js"></script>
}