@using BarberShop.Application.Models;
@model List<SettingsDayWorkViewModel>

<table class="table">
    <thead>
        <tr>
            <th scope="col">&nbsp;&nbsp;&nbsp;<i class="bi bi-calendar-event"></i></th>
            <th scope="col">Dia</th>
            <th scope="col">Inicio</th>
            <th scope="col">Último</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{
            @foreach (SettingsDayWorkViewModel settings in Model)
            {
                <tr>
                    <td>
                        <button type="button" class="btn btn-link" onclick="OpenModalDayWork('@settings.Code','@settings.Description.ToUpper()','@settings.Start','@settings.End', @settings.Open.ToString().ToLower())">Ajustar</button>
                    </td>
                    <td>@settings.Description</td>
                    <td id="txtOpen_@settings.Code">@settings.Start</td>
                    <td id="txtClose_@settings.Code">@settings.End</td>
                    <td>
                        @{
                            if (settings.Open)
                            {
                                <b class="text-success" id="txtOpenClose_@settings.Code">ABERTO</b>
                            }
                            else
                            {
                                <b class="text-danger" id="txtOpenClose_@settings.Code">FECHADO</b>
                            }
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modalDayWork" tabindex="-1" aria-labelledby="modalDayWorkLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="modalDayWorkLabel">Configuração de funcionamento</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="fs-2" id="modalDayWorkBodyLabel"> modalDayWorkBodyLabel </p>

                <div class="mb-3">
                    <label for="selectStartHour" class="col-form-label">Horário primeiro atendimento</label>
                    <select class="form-select form-select-sm" id="selectStartHour">
                        <option value="06:00">06:00</option>
                        <option value="07:00">07:00</option>
                        <option value="08:00">08:00</option>
                        <option value="09:00">09:00</option>
                        <option value="10:00">10:00</option>
                        <option value="11:00">11:00</option>
                        <option value="12:00">12:00</option>
                    </select>
                </div>


                <div class="mb-3">
                    <label for="selectLastHour" class="col-form-label">Horário último atendimento</label>
                    <select class="form-select form-select-sm" id="selectLastHour">
                        <option value="13:00">13:00</option>
                        <option value="14:00">14:00</option>
                        <option value="15:00">15:00</option>
                        <option value="16:00">16:00</option>
                        <option value="17:00">17:00</option>
                        <option value="18:00">18:00</option>
                        <option value="19:00">19:00</option>
                        <option value="20:00">20:00</option>
                        <option value="21:00">21:00</option>
                        <option value="22:00">22:00</option>
                    </select>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioOpenClose" id="radioOpen">
                    <label class="form-check-label text-success fw-bold" for="radioOpen">
                        ABERTO 
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioOpenClose" id="radioClose" checked>
                    <label class="form-check-label text-danger fw-bold" for="radioClose">
                        FECHADO
                    </label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="ConfirmButton()">Confirmar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/management/management.daywork.v1.0.js"></script>
}
